<!doctype html>
<html ng-app="myApp">
<head>
  <title>Buy your new CS 360 grade!</title>
  <link rel="stylesheet" type="text/css" 
      href="/static/css/cart_styles.css" />
</head>
<body>
  <div ng-controller="shoppingController">
    <div id="banner">
	  <div id="gradimg">
		<img src="/images/Graduation.jpg" />
	  </div>
      <div id="title">CS 360 grades for sell!</div>
      <div id="bar">
        <span class="orders" 
          ng-click="setContent('orders.html')">Orders</span>
        <span id="cartLink" ng-click="setContent('cart.html')">
            {{customer.cart.length}} items
            <img src="/images/cart.png" />
        </span>
		<span id="name"><%= user.displayName %>, don't you think you need a better grade?</span>
      </div>
    </div>
    <div id="main">
      <div ng-include="content"></div>
    </div>
  </div>
  <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
  <script src="/static/js/cart_app.js"></script>
</body>
</html>